html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    box-sizing: border-box;
  }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #dfb4e6;
}
ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
}

.header_container {
    display: flex;
    background: #9c27b0;
    justify-content:space-between;
    text-align: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 0 40px;   
}

.header_nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.header_nav ul li {  
    margin-right: 10px; 
    height: 60px;
    width: 120px;   
} 

 .header_nav ul li a { 
   color: white;
   font-weight: bold;
   font-size: 18px;
   display: block;  
   padding: 20px 0;
  } 

 .header_nav ul li:hover { 
   background-color: white;   
}

.header_nav ul li:hover a {
    color: #9c27b0;      
}

.header_logo {
    padding-top: 3px ;
}

.header_logo img {
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.header_nav ul li > ul {
    display: none;
    flex-direction: column;  
}
       
.header_nav ul li > ul li{
    width:100%;   
    background: #701b80;
    height: auto;         
}

.header_nav ul li > ul {  
    width: 200px;  
}

.header_nav ul li> ul li a { 
    color:white !important;
    font-weight: bold;
    font-size: 18px;
    display: block;     
    float: left;   
    padding: 16px 10px;
   } 

.header_nav ul li>ul li:hover { 
    background-color: white;   
 }
 
.header_nav ul li>ul li:hover a { 
     color: #701b80 !important;
 }

 .header_nav ul li:hover>ul {
     display: flex;   
 }
 
.sub-menu > a:after{
    content:"+";
    padding-left:5px;     
  }